<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>

  <% include ../partials/nav %>

  <div class="content-wrapper">
    <section class="content-header">

      <div>
        Welcome to bitcoin testnet server for <a target="_blank" href="<%= ui.wallet %>">wallet</a>
        <br>
        See your <a href="/balance">balance</a>
        <br>
        <a href="/withdrawal">Withdrawal</a> some testnet coins
        <br>
      </div>

    </section>
  </div>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>
</html>
